@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* GENERAL ABOUT CSS */
.about-section {
  background-color: black;
  width: 100%;
  height: 85vh;
  color: white;
}
/*  */

/* TITLE FORMAT */
.about-title {
  padding-top: 5%;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
/*  */

/* ORDERED CONTENT */

.ordered-about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-content: stretch;
}

.ordered-story {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  padding-top: 5vh;
}

.ordered-story img {
max-height: 20vh;
margin-bottom: 3vh;
}

.ordered-story p {
  max-width: 45vh;
  margin-bottom: 40px;
  }

.phil-story-pic {
  height: 15vh;
}

.centered-element {
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
