@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* GENERAL ABOUT CSS */
.about-section {
  background-color: black;
  background-image: url("../Images/aboutwall.jpg");
  background-size: cover;
  height: 105vh;
  color: white;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
  animation: 70s para infinite linear;
}
/*  */

/* TITLE */

.phil-story-pic {
  max-height: 23vh;
  border-radius: 150px;
}

.about-pic {
  height: 5vh;
}

.philDiv {
  display:flex;
 justify-content: center;
 margin:40px 0px 8px 0px;
}
/*  */

/* ORDERED CONTENT */

.ordered-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
}

.ordered-story {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  padding-top: 3vh;
}

.ordered-story p {
  font-size: 14px;
  max-width: 70vw;
  margin-bottom: 20px;
}

.centered-element {
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* ANIMATED 8 BIT CITY BACKGROUND KEYFRAME */
@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}
/*  */

@media screen and (max-width: 765px) {
  /* GENERAL ABOUT CSS */

  .about-pic {
    height: 5vh ;
  }

  .about-section {
    background-color: black;
    background-image: url("../Images/aboutwall.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    animation: 70s para infinite linear;
  }
  /*  */

  /* TITLE */
  .title {
    padding-top: 3%;
    font-family: "Press Start 2P", cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

  .phil-story-pic {
    max-height: 15vh;
  }
  /*  */

  /* ORDERED CONTENT */

  .ordered-about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-content: stretch;
    width: 100%;
  }

  .ordered-story {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    padding-top: 3vh;
  }

  .ordered-story img {
    max-height: 9vh;
    margin-bottom: 3vh;
  }

  .ordered-story p {
    max-width: 80vw;
    font-size: 11px;
  }

  .centered-element {
    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}


@media screen and (max-width: 550px) {
.about-pic {
    height: 4vh ;
  }
}

@media screen and (max-width: 440px) {
  .about-section {
    background-color: black;
    background-image: url("../Images/aboutwall.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    animation: 70s para infinite linear;
  }

  .about-pic {
    height: 5vh ;
  }
  /*  */

  /* TITLE */
  .title {
    padding-top: 3%;
    font-family: "Press Start 2P", cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    font-size: 18px;
  }

  .phil-story-pic {
    max-height: 12vh;
  }


.philDiv {
  display:flex;
 justify-content: center;
 margin:20px 0px 10px 0px;
}
  /*  */

  /* ORDERED CONTENT */

  .ordered-about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-content: stretch;
    width: 100%;
  }

  .ordered-story {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    padding-top: 3vh;
  }

  .ordered-story img {
    max-height: 10vh;
    margin-bottom: 3vh;
    display: none;
  }

  .ordered-story p {
    max-width: 80vw;
    font-size: 10px;
  }

  .centered-element {
    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}


@media screen and (max-width: 378px) {
  .about-section {
    background-color: black;
    background-image: url("../Images/aboutwall.jpg");
    background-size: cover;
    height: 105vh;
    color: white;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    animation: 70s para infinite linear;
  }

  .about-pic {
    height: 5vh ;
  }
  /*  */

  /* TITLE */
  .title {
    padding-top: 3%;
    font-family: "Press Start 2P", cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    font-size: 18px;
  }

  .phil-story-pic {
    max-height: 14vh;
  }


.philDiv {
  display:flex;
 justify-content: center;
 margin:20px 0px 10px 0px;
}
  /*  */

  /* ORDERED CONTENT */

  .ordered-about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-content: stretch;
    width: 100%;
  }

  .ordered-story {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    padding-top: 3vh;
  }

  .ordered-story img {
    max-height: 9vh;
    margin-bottom: 1vh;
    display: none;
  }

  .ordered-story p {
    max-width: 80vw;
    font-size: 8px;
  }

  .centered-element {
    padding-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}

