@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* GENERAL ABOUT CSS */
.about-section {
  background-color: black;
  background-image: url("../Images/aboutwall.jpg");
  background-size: cover;
  height: 105vh;
  color: white;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
  animation: 70s para infinite linear;
}
/*  */

/* TITLE */
.title {
  padding-top: 5%;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.phil-story-pic {
  height: 15vh;
} 
/*  */

/* ORDERED CONTENT */

.ordered-about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-content: stretch;
}

.ordered-story {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  padding-top: 5vh;
}

.ordered-story img {
max-height: 20vh;
margin-bottom: 3vh;
}

.ordered-story p {
  max-width: 45vh;
  margin-bottom: 40px;
  }

.centered-element {
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* ANIMATED 8 BIT CITY BACKGROUND KEYFRAME */
@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}
/*  */
