@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.header-format {
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  font-family: "Press Start 2P", cursive;
  background-color: black;
  text-decoration: none;
  color: white;
}

a.link {
  color: white;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

a.link:hover {
  color: white;
  text-decoration: none;
}

a.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  text-decoration: none;
  color: white;
}

a.link:hover:after {
  width: 100%;
  left: 0;
  text-decoration: none;
  color: inherit;
}

/* MEDIA QUERIES FOR IPAD  */
@media screen and (max-width: 765px) {

  .header-format {
    padding-bottom: 0%;
    padding-top: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    font-family: "Press Start 2P", cursive;
    background-color: black;
    text-decoration: none;
    color: white;
  }

  a.link {
    font-size: 12px;
    color: white;
    text-decoration: none;
    letter-spacing: 0em;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
  }
  
  a.link:hover {
    color: white;
    text-decoration: none;
  }
  
  a.link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 30%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    text-decoration: none;
    color: white;
  }
  
  a.link:hover:after {
    width: 100%;
    left: 0;
    text-decoration: none;
    color: inherit;
  }
}

/*  */

/* MEDIA QUERIES FOR PHONE */

@media screen and (max-width: 400px) {

  a.link {
  font-size: 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 0em;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
  }

}

/*  */